<a href="/" style="text-decoration: none;">
    <div class="search-button align-icon" style="margin-bottom: 0;">
        <span class="search-icon">
            <i data-lucide="home"></i>
        </span>
        <span class="search-text">Home</span>
    </div>
</a>
